#########################################################################
#									#
# File ID: ./.github/workflows/publish-doxygen-gh-pages.yml		#
# Author: Copyright (C) 2022  Mark Grant				#
#									#
# Released under the GPLv3 only.					#
# SPDX-License-Identifier: GPL-3.0-only					#
#									#
# Purpose:								#
# Configuration file for GitHub Actions publication of Doxygen          #
# documentation to Github Pages.                                        #
#									#
#########################################################################

#########################################################################
#									#
# Changelog								#
#									#
# Date		Author	Version	Description				#
#									#
# 25/07/2022	MG	1.0.1	Initial release.                        #
#									#
#########################################################################


name: Publish Doxygen Documentation to Github Pages

on:
  push:
    branches:
      - gh-pages
  release:
    types: [released]

  # Allows manual invocation from the Actions tab.
  workflow_dispatch:

jobs:
  publish-doxygen:
    runs-on: ubuntu-latest

    steps:
      # Check-out the repository under $GITHUB_WORKSPACE.
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Get all incl tags, needed for git-enhanced AC_INIT

      - name: Add the extra PPA
        run: sudo add-apt-repository ppa:m-grant-prg/utils -y

      - name: Update the package list
        run: sudo apt-get update

      - name: Add the extra PPA packages
        run: |
          sudo apt-get install -y autoconf-archive libtool-bin valgrind
          sudo apt-get install -y dia doxygen graphviz txt2man txt2manwrap

      - name: Autoreconf
        run: autoreconf -if .

      - name: Configure
        run: ./configure --enable-silent-rules=yes

      - name: Make doxygen
        run: make doxygen

      - name: Create .nojekyll
        run: touch docs/doxygen/.nojekyll

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          branch: gh-pages
          folder: docs/doxygen

